.flats {
  display: flex;
  flex-wrap: wrap;
}

.flat {
  width: 400px;
  height: 180px;
  margin: 32px 16px;
  background: #f7f7f7;
  padding: 16px;
  border: 1px solid #c6c6c6;
}

.flat-footer {
  // border: 1px solid #c6c6c6;
}



.flat-name {
  height: 75px;
}
.flat-address {
  height: 56px;
}

